 /*style header*/
 
 header {
     width: 100%;
     height: 8.8rem;
     background-color: var(--gray-colors-800);
     display: flex;
 }

 header .container{
    display: flex;
    justify-content: space-between;
align-items: center;
 }

 header nav{
    display: flex;
    align-items: center;
 }
 header .menu-mobile{
    display: none;
     
 }


 header nav ul{
    display: flex;
    margin-right: 32px;

 }
 header nav ul li{
    display: flex;
    margin-left: 32px;
    
 }
 header nav ul li: :first-child{
        margin-left: 0px;
    
 }
 header nav .btn{
    padding: 0.9rem 3.4rem;
 }

 /*style hero*/

 .s-hero{
    padding: 72px 0px;
 }

 .s-hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .s-hero .text{
    width: 100%;
    max-width: 640px;
 }
 .s-hero .text h1{
    margin-bottom: 20PX;
 }
 .s-hero .text P{
    margin-bottom: 56PX;
    max-width: 488px;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-colors-300);
 }
 .s-hero .image{
    width: 100%;
    max-width: 488px;
    height: 496px;
    background-color: var(--gray-colors-800);
    display: flex;
    align-items: center;
    justify-content: center;
 }